@font-face {
  font-family: 'Grenda';
  src: url('../assets/Grenda.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles if needed */
.btn-deep {
    @apply bg-deep-900 hover:bg-deep-800 text-white font-semibold py-4 px-8 rounded-full transition-all duration-300 shadow-lg hover:shadow-xl transform hover:-translate-y-1;
}

.card-panel {
    @apply flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl p-4 md:p-5;
}
